.task {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 16px 10px 100px 10px;
    background: aliceblue;
    border-radius: 30px;

    & span:nth-child(1) {
      text-decoration-line: line-through;
      color: gray;
    }
    & span:nth-child(2) {
      text-decoration-line: line-through;
      color: gray;
    }
    & span:nth-child(3) {
      text-decoration-line: line-through;
      color: gray;
    }
  }
}
