.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;

  & div {
    display: flex;
    gap: 10px;
    flex-direction: column;

    & label {
      font-size: 22px;
      font-weight: 600;
    }

    & input {
      padding: 14px;
      width: 100%;
      border-radius: 6px;

      &:focus {
        border: 1px solid #ff000036;
      }
    }
    & button {
      width: 100%;
      padding: 14px;
      background: black;
      color: white;
      font-size: 17px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
